.container {
  font-family: "Base", monospace;
  border: 0.3vw solid #4486ff;
  border-radius: 0.5vw;
  font-size: 2.5vw;
  padding: 0.4vw 1.2vw;
  font-weight: 800;
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container.dark {
  border: 0.3vw solid rgba(57, 49, 96, 1);
}

.container.dark:hover {
  background-color: rgba(57, 49, 96, 1);
}

.container:hover {
  cursor: pointer;
  background-color: #4486ff;
  color: white;
}

.name {
  color: black;
}

.name.dark {
  color: rgb(255, 255, 255);
}

@media (max-width: 450px) {
  .container {
    border-radius: 2vw;
    font-size: 6vw;
    padding: 4vw 5vw;
    font-weight: 800;
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
      border: 1vw solid #4486ff;
  }
  .container.dark {
  border: 1vw solid rgba(57, 49, 96, 1);
}


  .container:hover {
    transform: scale(1);
  }
}
