.footer {
  width: 100%;
  background-color: black;
  border-top: 0.15vw solid white;
  font-family: "Base", monospace;
  color: white;
}

.linka {
  text-decoration: none;
  color: rgb(86, 67, 255);
}

.ttll,
.school {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1vw;
  padding-left: 2vw;
  font-size: 2vw;
}

.cont2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 6vw;
  height: auto;
  padding-right: 4vw;
}

.goodLinks {
  font-size: 1.5vw;
  padding: 3vw 0 2vw 2vw;
}

.linkttl {
  font-size: 1.8vw;
  text-decoration: underline;
}

.developer {
  font-size: 1vw;
  padding: 0 0 2vw 2vw;
}

.reoprtError {
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3vw;
  background-color: rgb(0, 0, 0);
  border-radius: 0.5vw;
  padding: 1vw;
  transition: 0.2s ease-in-out;
  cursor: default;
  border: 0.15vw solid white;
  font-weight: 100;
}

.reoprtError:hover {
    background-color: rgb(172, 0, 0);

}

.cont44 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 3vw;
  align-items: center;
}

.yrs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  font-size: 2vw;
}

@media (max-width: 450px) {
  .footer {
    border-top: 0.5vw solid white;
    padding-top: 2vw;
  }

  .ttll,
.school {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1vw;
  padding-left: 2vw;
  font-size: 4vw;
}
.logo {
  width: 15vw;
  height: auto;
  padding-right: 4vw;
}

.goodLinks {
  font-size: 5vw;
  padding: 3vw 0 2vw 2vw;
}

.cont44 {
    flex-direction: column-reverse;
}
.linkttl {
  font-size: 6.2vw;
  text-decoration: underline;
}
.developer {
    font-size: 5vw;
}
.reoprtError {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4vw;
  border-radius: 0.5vw;
  padding: 2vw;
  margin: 5vw 0 5vw 0;
  border: 1vw solid white;
  border-radius: 3vw;

}
.yrs {
  padding: 4vw;
  font-size: 5vw;
}

.reoprtError:hover {
  background-color: rgb(0, 0, 0);
}


}
