/* Header.module.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4486ff; /* Light blue background for default theme */
  padding: 1vw 1.5vw;
  transition: 0.2s ease-in-out;
  flex-direction: column;
}

.header.dark {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(57, 49, 96, 1);
}

.logo img {
  width: 5vw;
  height: auto;
}

.main_txt {
  color: rgb(0, 0, 0);
  font-family: "Base", monospace;
  font-size: 4vw;
  font-weight: 800;
  letter-spacing: 0px;
  text-align: center;
  cursor: default;
  padding-left: 19vw;
}

.main_txt.dark {
  color: rgba(188, 188, 188, 1); /* Lighter text for dark theme */
}

.theme {
  width: 4vw;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  height: auto;
}

.theme:hover {
  transform: scale(1.3);
  cursor: pointer;
}
.cont {
  display: flex;
  align-items: center;
}

.header_top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.datetime_container {
  font-family: "Base", monospace;
  font-size: 1vw;
  color: rgb(29, 29, 29);
  background-color: rgb(236, 236, 236);
  border-radius: 5vw;
  padding: 0.4vw 1vw 0.4vw 1vw;
  border: 0.3vw solid #3802ff;
}

.datetime_container.dark {
  border: 0.3vw solid #7802ff;
  background-color: rgb(202, 202, 202);
}

@media (max-width: 450px) {
  .cont {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    justify-content: center;
    align-items: center;
  }

  .logo img {
    width: 15vw;
    height: auto;
  }
  .main_txt {
    font-size: 8vw;
    text-align: left;
    padding-left: 0.5vw;
    line-height: 120%;
  }

  .theme {
    width: 12vw;
    padding-right: 2.4vw;
  }

  .theme:hover {
    transform: scale(1);
  }

  .header {
    padding: 3vw 1.5vw;
  }
  .datetime_container {
    font-size: 4vw;
    padding: 2vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
    border: 1.5vw solid #3802ff;
  }
  .datetime_container.dark {
    border: 1.5vw solid #7802ff;
  }
}
