.container {
  width: 50vw;
  padding: 1vw 2vw;
  gap: 0.5vw;
  display: flex;
  flex-direction: column;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1); /* Добавлена анимация */
}

.container.shifted {
  transform: translateY(20vh); /* Сдвиг при открытии списка */
}

.container .hr {
  height: 0;
  border: none;
  border-top: 0.05vw solid #333;
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  justify-content: center;
  align-items: center;
}

.container .hr.dark {
  height: 0;
  border: none;
  border-top: 0.05vw solid #ffffff;
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  justify-content: center;
  align-items: center;
}

@media (max-width: 450px) {
  .container {
    width: 98vw;
    padding: 1vw 2vw;
    gap: 0.5vw;
    display: flex;
    flex-direction: column;
  }

  .container.shifted {
    transform: translateY(1vh);
  }
}

/* Для ПК - отключаем сдвиг */
@media (min-width: 421px) {
  .container.shifted {
    transform: translateY(0);
  }
}