.main.dark {
  background-color: #0e0e0e;
  color: white;
}
.main {
  font-family: "Base", monospace;
  font-weight: 1000;
  color: black;
  width: 100%;
  height: 64vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  padding: 5vh 0 17vh 0;
}

.txt {
  font-size: 4vw;
  border-radius: 0.5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1vw 2vw;
  cursor: pointer;
  min-width: 9vw;
  transition: 0.2s ease-in-out;
  border: 0.3vw solid #4486ff;
}

.txt.dark {
  color: white;
  border: 0.3vw solid rgba(57, 49, 96, 1);
}

.txt:hover {
  background-color: #4486ff;
  color: white;
}

.txt.dark:hover {
  background-color: rgba(57, 49, 96, 1);
  color: white;
}

.tx {
  font-size: 4vw;
  color: #0e0e0e;
}

.tx.dark {
  color: #ffffff;
}

@media (max-width: 420px) {
  .main {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15vw;
    align-items: center;
    justify-content: center;
    height: 71vh;
    padding: 1vh 0 1vh 0;
  }

  .txt {
    font-size: 8vw;
    border-radius: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5vw 6vw;
    cursor: pointer;
    min-width: 9vw;
    width: 80vw;
    border: 1vw solid #4486ff;
  }

  .txt.dark {
    border: 1vw solid rgba(57, 49, 96, 1);
  }

  .txt:hover {
    transition: scale(1);
  }
}
